<div *ngIf="event">
    <div *ngIf="event.id">
        <label>ID</label>
        <label placeholder="ID">{{event.id}}</label>
    </div>
    <div>
        <label>SIO</label>
        <input [(ngModel)]="event.sio" placeholder="SIO"/>
    </div>
    <div>
        <label>Tipo</label>
        <select [(ngModel)]="event.eventType">
            <option *ngFor="let type of eventTypes">{{type}}</option>
        </select>
    </div>
    <div>
        <label>Creación</label>
        <input [(ngModel)]="event.createdDate" placeholder="Creación"/>
    </div>
    <div>
        <label>Description</label>
        <input [(ngModel)]="event.description" placeholder="Description"/>
    </div>
    <div>
        <label>Área</label>
        <select [(ngModel)]="event.area">
            <option *ngFor="#area of areas" [ngValue]="area">{{area.name}}</option>
        </select>
    </div>
    <div>
        <label>Supervisor</label>
        
    </div>
    <div>
        <button (click)="save()">Guardar</button>
        <button (click)="cancel()">Cancelar</button>
    </div>
</div>