<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Tareas por vencer</div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-dashboard table_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha Exp.</th>
                    <th>% Completado</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td class="task_id">{{task.id}}</td>
                    <td class="task_date">{{task.expectedClosedDate}}</td>
                    <td class="task_percentage">{{task.percentageCompleted}}</td>
                    <td class="task_desc">{{task.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table_list_pager" *ngIf="totalPages > 1">
        <button (click)="beforePage()" class="btn btn-secondary btn-xs"> < </button>
        Page {{currentPage}} of {{totalPages}}
        <button (click)="nextPage()" class="btn btn-secondary btn-xs"> > </button>
    </div>
</div>
