<vogue-navbar></vogue-navbar>

<!-- Content -->
<div class="container">
    <db-statistics></db-statistics>

    <div class="row statistics_box">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <db-hot-event></db-hot-event>
            <a href="./events.html">Ver todos los eventos</a>
        </div>
        <div class="col-lg-4">
            <db-hot-task></db-hot-task>
            <a href="./tasks.html">Ver todos las tareas</a>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<vogue-footer></vogue-footer>
