<!-- Statistics and Indicators-->
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-primary statistics_box">
                    <div class="panel-heading">
                        Total Tasks
                    </div>
                    <div class="panel-body">
                        <h1 *ngIf="reportClosedTask">{{ reportClosedTask.totalTasks }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary statistics_box">
                    <div class="panel-heading">
                        Open Tasks
                    </div>
                    <div class="panel-body">
                        <h1 *ngIf="reportClosedTask">{{ reportClosedTask.openTasks }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary statistics_box">
                    <div class="panel-heading">
                        % Tareas Cerradas
                    </div>
                    <div class="panel-body">
                        <h1 data-toggle="tooltip" data-placement="right" *ngIf="reportClosedTask"
                            title="{{ reportClosedTask.startDate }} / {{ reportClosedTask.endDate }}">
                            {{percentage | percent:'.1-1'}}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary statistics_box">
                    <div class="panel-heading">
                        ?
                    </div>
                    <div class="panel-body">
                        <h1>%</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>