<div class="incident-list-container">
    <button (click)="showEmptyForm()"> Crear Incidente</button>
    <table>
        <thead>
            <tr>
                <th>SIO</th>
                <th>Creación</th>
                <th>Tipo</th>
                <th>Severidad</th>
                <th>Probabilidad</th>
                <th>% Completado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let incident of incidents">
                <td>{{incident.sio}}</td>
                <td>{{incident.createdDate}}</td>
                <td>{{incident.type}}</td>
                <td>{{incident.severity}}</td>
                <td>{{incident.probability}}</td>
                <td>{{incident.percentageCompleted}}%</td>
                <td>
                    <button (click)="selectIncident(incident)">Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>  
</div>

<div class="incident-list-form-container">
    <incident-detail [incident]="selectedIncident"></incident-detail>    
</div>