.table_list{
    font-size: 0.9em;
}

.table_list th{
    text-align: center;
}

.table_list td{
    vertical-align: middle;
}

.table_list .td_left{
    text-align: left;
    padding-right: 10px;
    width: 70px;
}

.table_list_options{
    float: right;
    display: inline;
    /*vertical-align: bottom;*/
}
.report_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: dashed;
    border-color: darkgray;
}