<div class="report_wrapper">
    <h4>Reporte: Eventos creados x tipo</h4>

    <table class="table table-hover table_list">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>#Eventos Creados</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input [(ngModel)]="startDate" type="text" placeholder="Fecha inicial" class="form-control"/>
            </td>
            <td>
                <input [(ngModel)]="endDate" type="text" placeholder="Fecha final" class="form-control"/>
            </td>
        </tr>
        <tr *ngFor="let info of reportInfo">
            <td class="td_left">{{info.eventType}}</td>
            <td>{{info.createdEvents}}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <button (click)="update()" type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</div>