<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Eventos por vencer</div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-dashboard">
            <thead>
                <tr>
                    <th>SIO</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{event.sio}}</td>
                    <td>{{event.eventType}}</td>
                    <td>{{event.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>